fastapi==0.142.2
uvicorn[standard]==0.54.0
authlib==1.8.0
httpx==0.28.1
authzed==1.25.0
itsdangerous==2.2.0
jinja2==3.1.6
python-multipart==0.0.32
python-dotenv==1.2.4
starlette==1.7.0
grpcio==1.84.0
protobuf==7.36.2
SQLAlchemy==2.1.3
