fastapi==0.115.6
uvicorn[standard]==0.32.1
authlib==1.4.0
httpx==0.28.1
authzed==0.17.0
itsdangerous==2.2.0
jinja2==3.1.5
python-multipart==0.0.20
python-dotenv==1.0.1
starlette==0.41.3
grpcio==1.68.1
protobuf==5.29.3
SQLAlchemy==2.0.36
