---
name: "Test"
on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - "main"
  pull_request:
    branches: ["*"]
permissions:
  contents: "read"
jobs:
  validate-example-schemas:
    name: "Validate Example Schemas"
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v6"
      - name: "Install zed and run validate"
        run: |
          # TODO can we download the latest?
          curl -L https://github.com/authzed/zed/releases/download/v0.33.1/zed_0.33.1_linux_amd64.deb -o zed.deb
          sudo dpkg -i zed.deb
          for schema_file in $(find schemas -name "schema-and-data.yaml" -type f); do
            schema_dir=$(dirname "$schema_file")
            echo "Validating $schema_file..."
            if ! zed validate "$schema_file"; then
              echo "Validation failed for $schema_file"
              exit_code=1
            else
              echo "Validation passed for $schema_file"
            fi
          done
          exit $exit_code
